.category:hover a{
	font-size: 1.1em;
	font-weight: 800;
}

#carpoolTable tbody tr {
  margin-bottom: 100px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.onewayRound {
    display: inline-block ;
    padding: 5px 10px  ;
    font-size: 12px  ;
    font-weight: bold  ;
    text-align: center  ;
    color: black;
    font-weight: bold;
    background-color: #fff6bd;
    border: 1px solid white;
    border-radius: 10px;
  }
  .capacity {
    display: inline-block ;
    padding: 5px 10px  ;
    font-size: 12px  ;
    font-weight: bold  ;
    text-align: center  ;
    color: black;
    font-weight: bold;
    background-color: rgb(224, 223, 223);
    border: 1px solid white;
    border-radius: 10px;
    vertical-align: middle;
  }
  .departDate{
    font-weight: bold;
  }
  .writeDate{
    font-weight: bold;
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  .region{
    margin-right: 13px;
    font-weight: 600;
  }
  .district{
    margin-left: 5px;
    font-size: 13px;
  }
  
	table tr{
	border-radius: 20px; width: 900px; margin-left: 70px; padding-left: 20px; padding-top: 25px; padding-bottom: 70px; background-color: none; border: 3px solid #39B5E0 ;
	}



.onewayRound {
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: 3C486B;
	font-weight: bold;
	background-color: #fff6bd;
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
}

	.capacity {
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: black;
	font-weight: bold;
	background-color: rgb(224, 223, 223);
	border: 1px solid white;
	border-radius: 10px;
	cursor: pointer;
	}
	
	.journey {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	}
	
	.journey img {
	height: 50px;
	width: 45px;
	margin-right: 10px;
	}
	
	.location-wrapper {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}
	
	.additional-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
	
	.boardStorage {
	font-size: 12px;
	font-weight: bold;
	color: gray;
	}
	
	.driverMsg {
	font-size: 12px;
	font-weight: bold;
	color: gray;
	}
	
	.region {
	margin-right: 13px;
	font-weight: 600;
	}
	
	.district {
	margin-left: 5px;
	font-size: 13px;
	}
	
	.departDate {
	font-weight: bold;
	}
	
	.writeDate {
	font-weight: bold;
	}
	


  /* 모달 */
  input[type="checkbox"]{
  }

  input[type="checkbox"]:checked  + label{
    font-weight: 900;
    font-size: 20px;
  }
  .modal-header, h4, .close {
    background-color: white;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }

  .modal-footer {
    background-color: #f9f9f9;
  }
  .time-selection {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;

	}
	.time-selection:hover {
		background-color: #f2f2f2;
	}
	.time-selection.selected {
		background-color: #007bff;
		color: #fff;
	}
  
    .check-box-wrap{
        width: 600px;
        height:120px;
        overflow :hidden;
    }
    input[type="checkbox"]{
  	  display:none;
    }
    
    .check-box{
	     width: 235px;
	     height: 40px;
	     border: 1px solid #f2f2f2;
	     margin-left:25px;
	     text-align: center;
	     float: left;
	     background-color: #F0F0F0;
	     line-height: 40px;
    }
    .active-checkbox{
		background-color: #DAF5FF;
		color:#FF78F0;
		transitionDuration: 0.3s;
		border: none;
    }
    
	.lb-class{
		display: inline-block;
		padding: 5px 10px;
		color: grey;
		text-align: center;
		cursor:pointer;
	}
	
    .filter{
	    cursor: pointer;
	    margin-right: 30px;
    }
    .form-group{
    	padding: 0 30px 0 30px;
    }
    .additional-info{
	    padding: 3px;
	    font-size: 12px;
    }
  
	.btn-block{
	    background-color: #fff6bd;
	    border: 1px solid white;
	    border-radius: 10px;
	    cursor: pointer;
	}

          
        
     
