.product-wrapper{
    position: relative;
}

.table-content{
}

.list-wrapper{
    width: 73%;
}

.list-wrapper form{
    box-shadow: 2px 4px 4px 4px rgba(207, 207, 207, 0.19), 2px 2px 2px 2px rgba(177, 177, 177, 0.23);
}
/*�˻�â*/
.search-bar {
    display: flex;
    margin-bottom: 15px;
}
.search-bar>.search-icon{
    /*width: 45px;
    height: 45px;*/
    width: 80px;
    background-color: rgb(238, 238, 238);
    color: rgb(156, 156, 156);
    line-height: 45px;
    text-align: center;
    border: 1px solid #dddd;
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #dddd;
    border-right: none;*/
}
.search-bar>input{
    outline: none;
    border: 1px solid #dddd;
    padding-left: 8px;
    padding-right: 8px;
    width: 45vh;
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
    cursor: auto;
    font-size: 16px;
}

.active-search-bar{
    box-shadow: inset 0 0 2px rgb(235, 235, 235);
}

/*상품 선택*/
.product-choice{
    width: 150px;
    height: 100px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 1px 2px 2px 2px rgba(207, 207, 207, 0.19), 1px 2px 2px 2px rgba(177, 177, 177, 0.23);
	margin-right: 15px;
}
.product-choice>a{
	display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    box-sizing: border-box;
}
.active-product-choice{
    background-color: rgb(172, 172, 172);
}

/*테이블 내용 디테일*/
.more-detail{
    cursor: pointer;
}
table>tr>td:last-child{
	position: relative;
}
.list-detail-box{
    width: 130px;
    height: 120px;
    background-color: #fff;
    box-shadow: 1px 2px 2px 2px rgba(207, 207, 207, 0.19), 1px 2px 2px 2px rgba(177, 177, 177, 0.23);

    position: absolute;
    z-index: 1;
    transform: translate3d(-100px, 10px, 0px);
}
.list-detail-box>div{
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-detail-box>div>a{
    display: inline-block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.list-top {
	border-bottom: 1px solid rgb(238, 238, 238);
}



/*변화*/
.list-detail-box>div>a:hover{
    background-color: #f1f1f1;
}


/*���*/
.count{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 10px;
}
.count>span{
    color: #86C8BC;
    font-size: 20px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 0;
}
table th{
    font-size: 17px;
}
table td:nth-child(2){
	overflow: hidden;
    text-overflow: ellipsis;
}
table th, td{
    height: 70px;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.list-top{
    padding: 35px;
    border: 1px solid rgb(238, 238, 238);
    border-bottom: none;
}
.list-bottom{
    background-color: rgb(241, 241, 241);
    height: 130px;
    box-sizing: border-box;
    text-align: right;
    position: relative;
}
.list-bottom>div{
    position: absolute; 
    right: 30px; 
    bottom: 30px;
}

/*select*/
.grade-change {
    height: 30px;
}