.product-wrapper{
    position: relative;
}

.table-content{
}

.list-wrapper{
    width: 97%;
}

.list-wrapper form{
    /* box-shadow: 2px 4px 4px 4px rgba(207, 207, 207, 0.19), 2px 2px 2px 2px rgba(177, 177, 177, 0.23); */
}
/*검색*/
.search-type{
    width: 150px;
    padding: 5px 30px 5px 10px;
    outline: 0 none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #dddd;
    border-right: none;
}
.search-bar {
    display: flex;
    margin-bottom: 15px;
}
.search-bar>.search-icon{
    width: 100px;
    background-color: #19A7CE;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.2s;

}
.search-bar>.search-icon{
	cursor: pointer;
}
.search-bar>.search-icon:hover{
    background-color: #1487a7;
}
.search-bar>input{
    outline: none;
    border: 2px solid #dddd;
    border-right: none;
    padding-left: 8px;
    padding-right: 8px;
    width: 40%;
    cursor: auto;
    font-size: 16px;
}

.active-search-bar{
    box-shadow: inset 0 0 2px rgb(235, 235, 235);
}

/*상품 선택*/
.table-content>.product-choice{
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
}
.product-choice>a:first-child{
    /*background-color: #146C94;*/
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px; 
    
}
.product-choice>a:last-child{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.product-choice>a:first-child:hover{
    background-color: #19A7CE;
    color: #fff;
}
.product-choice>a{
    background-color: #F6F1F1;
	display: block;
    width: 110px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    box-sizing: border-box;
    color: #333536;
    font-weight: 900;
    font-size: 20px;
    transition: 0.2s;
    margin-right: 2px;
    /*background-color: #ecc351;*/
    text-decoration: none;
}
/* .product-choice>a:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-choice>a:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */
.product-choice>a:hover{
    background-color: #ecb534;
    color: #fff;
}
.product-choice>a:last-child:hover{
    background-color: #19A7CE;
    color: #fff;
}
.active-product-choice{
    background-color: rgb(172, 172, 172);
    color: #fff;
}

/*테이블 내용 디테일*/
.more-detail{
    cursor: pointer;
}
table>tr>td:last-child{
	position: relative;
}
.list-detail-box{
    width: 130px;
    background-color: #fff;
    box-shadow: 1px 2px 2px 2px rgba(207, 207, 207, 0.19), 1px 2px 2px 2px rgba(177, 177, 177, 0.23);

    position: absolute;
    z-index: 1;
    transform: translate3d(-100px, 10px, 0px);
}
.list-detail-box>div{
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-detail-box>div>a, .list-detail-box>div>div{
	cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.list-top {
	border-bottom: 1px solid rgb(238, 238, 238);
}



/*변화*/
.list-detail-box>div>a:hover{
    background-color: #f1f1f1;
}
.list-detail-box>div>div:hover{
    background-color: #f1f1f1;
}


/*���*/
.count{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 15px;
}
.count>span{
    color: #86C8BC;
    font-size: 20px;
}
th:first-child, td:first-child{
    width: 80px;

}

.list-top>table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-spacing: 0;
    margin-bottom: 25px;
}
table th{
    background-color: #F6F1F1;
    color: #333536;
}
table th:first-child{
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}
table th:last-child{
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}
table td:nth-child(3){
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table th, td{
    height: 70px;
    border-bottom: 1px solid rgb(202, 202, 202);
    word-break:break-all;
}
table tr:hover{
    background-color: #fafafa;
}

.list-top>table td:nth-child(4)>a:hover{
	color: #83888a;
}

.list-top>table td:nth-child(3)>a:hover{
	color: #83888a;
}

.list-top{
    padding: 35px;
    border: 2px solid rgb(238, 238, 238);
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.list-bottom{
    background-color: rgb(241, 241, 241);
    height: 150px;
    box-sizing: border-box;
    text-align: right;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.list-bottom>div{
    position: absolute; 
    right: 30px; 
    bottom: 30px;
}

/*select*/
.grade-change {
    height: 30px;
}

/*조회된 정보 없을때*/
table .noInfo-wrapper>div{
    text-align: center;
    padding: 80px;
    color: #b6b6b6;
}
table .noInfo-icon{
    font-size: 40px;
}
table .noInfo-text{
    padding: 10px;
}

/*chekcbox*/
/* Basic styling */
[type=checkbox] {
    width: 1.4rem;
    height: 1.4rem;
    color: dodgerblue;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
}

/* Pseudo element for check styling */
[type=checkbox]::before {
content: "";
color: transparent;
display: block;
width: inherit;
height: inherit;
border-radius: inherit;
border: 0;
background-color: transparent;
background-size: contain;
box-shadow: inset 0 0 0 1px #CCD3D8;
}

/* Checked */
[type=checkbox]:checked {
background-color: currentcolor;
}

[type=checkbox]:checked::before {
box-shadow: none;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

/* IE */
[type=checkbox]::-ms-check {
content: "";
color: transparent;
display: block;
width: inherit;
height: inherit;
border-radius: inherit;
border: 0;
background-color: transparent;
background-size: contain;
box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked::-ms-check {
box-shadow: none;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}