@charset "UTF-8";

.faqViewWrap{
    text-align: center;
    padding: 50px;
    padding-bottom: 20px;
}

.faqViewWrap>p{
    font-weight: bold;
}

.faqViewContent{
    margin: 0 auto;
}

.faqContentWrap{
    border: 1px solid #eee;
    margin-bottom: 20px;
    text-align: center;
    width: 1070px;
    margin: 0 auto;
}

.faqViewheader{
    border-top: 2px solid #006bd6;
    border-bottom: 1px solid #eee;
    font-weight: bold;
}

.faqViewheader>li{
    list-style-type: none;
    display: inline-block;
    font-weight: bolder;
    margin: 10px;
    height: auto;
}

.faqViewBtn>a{
    margin-top: 20px;
}