.content{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

[name=close-modal]{
    display: flex;
    float: right;
    border: none;
    background-color: #fff;

}

.main{
    margin: 0 auto;
    width: 500px;
    border: 1px solid black;

}
.content-top>.waveEffectWord-back,.content-top>.waveEffectWord-front{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.content-top{
    text-align: center;
    border-bottom: none;
}


.main-top{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    border-top: none;

}

#memberId,#memberPw{
    height: 40px;
    width: 300px;
}

input[type=submit]{
    margin-top: 100px;
    width: 400px;
    height: 40px;
    border: none;
}

.main-bottom{
   text-align: center;
}

#findIdBtn{
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#findMemberPw{
    margin: 10px;
}

#joinMember{
    margin: 10px;

}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

    .modal-footer {
    background-color: #f9f9f9;
}

    .dataNull{
        color : #f00;
}

    .loginBtn{
        width: 80%;
    }