.main{
    overflow: hidden;
}
.main-left{
    float: left;
    width: 30%;
    height: 500px;
}
.main-right{
    float: right;
    width: 70%;
    height: 600px;
}

.left-content{
    float: right;
    width: 260px;
    background-color: #252525;
    height: 100%;
}

.left-content>p{
    padding-top: 20px;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

.left-content>.material-symbols-outlined{
    text-align: center;
    font-size: 150px;
    width: 100%;
    margin: 0 auto;
    
}

.sessionMemberName,.sessionMemberEmail{
    text-align: center;
    display: block;
}

.tab-content{
    margin-top: 50px;
    list-style: none;
}

.tab-content>li{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
    color : #fff;
}

.tab-content>.li-active{
    border-bottom: 1px solid #fff;
    font-size: 24px;
}

.myProfile>ul{
    list-style: none;
}

.hidden-li{
    display: none;
}

div>.updatePassWordFrm{
    display: none;
}

input[type=text],input[type=password]{
    padding: 2px 7px;
}


.hide-div{
    display: none;
}

.active-div{
    display: block;
    margin-left: 50px;
    box-sizing: border-box;

}

.buyList>div{
    margin-top: 100px;
    margin-left: 50px;
}

.buyList>div>table{
    width: 100%;
    margin: 0 auto;   
    text-align: center;
}

.longInput{

}


   
.customInput>div {
    position: relative;
    width: 300px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.customInput>div>input {
    font-size: 15px;
    color: #222222;
    width: 300px;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
    z-index: 5;
}

.customInput>div>input::placeholder { color: #aaaaaa; }

.customInput>div>input:focus { outline: none; }

.customInput>div>span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;  /* right로만 바꿔주면 오 - 왼 */
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
}

.customInput>div>label {
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 20px;
    bottom: 8px;
    transition: all .2s;
}

.customInput>div>input:focus ~ label, .customInput>div>input:valid ~ label {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
}

.customInput>div>input:focus ~ span, .customInput>div>input:valid ~ span {
    width: 100%;
}
