<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!--  null값이 발생하면 빈칸("")이 아니라 그대로 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="kr.co.notice.model.vo.Notice" alias="n"/>
		<typeAlias type="kr.co.member.model.vo.Member" alias="m"/>
	</typeAliases>		

</configuration>
