*:not(a){
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    font-size: 16px;
}
*{
    text-decoration-line: none;
}

.admin-content{
    position: relative;
}
.admin-content>div{
    position: absolute;
    top: 50px;
	left: 300px;
    width: 100%;
}

.product-wrapper>div{
    overflow: hidden;

}
.product-wrapper>div>.product-choice{
    float: left;
    margin-right: 20px;
}
.product-wrapper>div>.list-wrapper{
    width: 70%;
    float: left;
}

/*버튼 디자인*/
.btn {
    border: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 5px;
    padding: 15px;
    padding: 15px 20px 15px 20px;
}

.bc1{
    color: #252a34;
    background-color: #fff;
    border: 2px solid #d8d8d8;
    cursor: pointer;
}
.bc1:hover {
    background-color: #d8d8d8;
    border: 2px solid #d8d8d8;
    cursor: pointer;
}